:root {
  --color-main-yellow-1: #ffda00;
  --color-main-yellow-2: #ffeb9a;
  --color-main-purple-1: #8c00ff;
  --color-main-purple-2: #c379ff;
  --color-main-gray-1: #c4c4c4;
  --color-main-gray-2: #707070;
  --color-main-gray-3: #ebebeb;
  --background-color: #fff;
  --font-color-white: #fff;
  --font-color-black: #000;
  --font-color-purple: #8c00ff;
}

body,
html {
  background-color: var(--background-color);
}

@font-face {
  font-family: "afacad";
  src: url(./../media/font/Afacad-VariableFont_wght.ttf) format("truetype");
}

* {
  font-family: "afacad", sans-serif;
}
